body, html {
    background-color: #333;
    color: white;
}

.verse {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #555;
    background-color: #222;
}

.verse.selected {
    background-color: #555;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    color: white;
    background-color: #333;
}

#nav select {
    height: 1.8rem;
    width: max-content;
    padding: 5px;
    margin: 2px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
}

#nav {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #555;
    background-color: #222;
}

#nav input {
    height: 1rem;
    padding: 5px;
    margin: 2px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
    width: 4rem;
}

#nav button {
    height: 1.8rem;
    padding: 5px;
    margin: 2px;
    border: 1px solid #555;
    background-color: #222;
    color: white;
}

iframe {
    background-color: #333;
    color: white;
}

* {
    color-scheme: dark;
}

p.word {
    padding: 5px;
    margin: 0;
    border-bottom: 1px solid #555;
    background-color: #222;
}

p.word.selected {
    background-color: #555;
}

div {
    color: white;
    background-color: #333;
}