{% extends "base.html" %}

{% block title %}Study Bible - {{ book_name }} {{ chapter }}:{{ verse }} word {{word}}{% endblock %}

{% block head %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .container {
            padding: 5px 10px;
            display: flow;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
    <h2><b>{{w.transSBLcap}}</b> ({{w.lexeme}}) {{w.sn}} ({{s.greek}})</h2>
    <p><b>Pronounciation:</b> {{s.pronunciation}}</p>
    <h3>Brief Definition</h3>
    <p>{{w.TBESG}}</p>
    <h3>Strong's Definition</h3>
    <p>{{s.strongs_str}}</p>
    <h3>Translated as (KJV)</h3>
    <p>{{s.kjv_def}}</p>
    <h3>Usage</h3>
    <p>{{s.usage}}</p>

    </div>
{% endblock %}