{% extends "base.html" %}

{% block title %}Study Bible - {{ book_name }} {{ chapter }}:{{ verse }} word {{word}}{% endblock %}

{% block head %}
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        .container {
            padding: 5px 10px;
            display: flow;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h2><b>{{w.transSBLcap}}</b> ({{w.lexeme}}) {{w.sn}} {% if s.lex %}({{s.lex}}){% endif %}</h2>
        {% if s.pronunciation %}
        <p><b>Pronounciation:</b> {{s.pronunciation}}</p>
        {% endif %}
        {% if s.lex %}
        <p><b>Brief Definition:</b> {{w.DEF}}</p>
        <h3>Strong's Definition</h3>
        <p>{{s.strongs_str}}</p>
        <h3>Translated as (KJV)</h3>
        <p>{{s.kjv_def}}</p>
        {% else %}
        <p><b>Possible Definition:</b> {{w.DEF}}</p>
        {% endif %}


    </div>
{% endblock %}